* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
}

.part1{
    background: white;
    width: 100px;
    height: 50px;
}

.part2{
    background: rgb(246, 246, 246);
    width: 100%;
    height: 700px;
}

.part3{
    background: white;
    height: 500px;
    width: 100%;
}

.part4{
    background: rgb(246, 246, 246);
    width: 100%;
    height: 800px;
}

.part5{
    background: white;
    width: 100%;
    height: 600px;
}

.part6{
    background-color: #464646;
    width: 100%;
    height: 170px;
}

.part7{
    background: rgb(0, 0, 0);
    width: 100%;
    height: 50px;
}


  .fa {
    text-align: center;
  }
  
  .footer-icons .fa {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 50px;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    position: relative;
    pointer-events: visibleStroke;
    overflow: hidden;
  }
  
  .footer-icons .fa:hover {
    color: rgb(45, 45, 45)
  }
  
  .container .footer-icons{
    display: flex;
      align-items: center;
      justify-content: center;
  }
  
.m-info{
    text-transform: uppercase;
    color:white;
    font-weight: bold;
    text-align: center;
}